In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [7]:
df.shape

(60943, 12)

In [8]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [9]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [10]:
y_2016 = df.groupby('Element')['Y2016'].sum()
y_2014 = df.groupby('Element')['Y2014'].sum()
y_2017 = df.groupby('Element')['Y2017'].sum()
y_2015 = df.groupby('Element')['Y2015'].sum()
print(y_2016)
print(y_2014)
print(y_2017)
print(y_2015)

Element
Domestic supply quantity                  2044842.70
Export Quantity                            151920.46
Fat supply quantity (g/capita/day)          10102.77
Feed                                       228958.65
Food                                      1247022.17
Food supply (kcal/capita/day)              451810.00
Food supply quantity (kg/capita/yr)         48985.28
Import Quantity                            286582.78
Losses                                     157787.00
Other uses (non-food)                       69563.68
Processing                                 280631.00
Production                                1943537.15
Protein supply quantity (g/capita/day)      11779.69
Residuals                                   37224.00
Seed                                        23389.20
Stock Variation                             33140.12
Total Population - Both sexes             1085107.00
Tourist consumption                            89.00
Name: Y2016, dtype: float64
Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64
Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64
Element
Domestic supply quantity                  2021493.55
Export Quantity                            157614.47
Fat supply quantity (g/capita/day)          10235.74
Feed                                       225050.22
Food                                      1232361.10
Food supply (kcal/capita/day)              453383.00
Food supply quantity (kg/capita/yr)         49345.13
Import Quantity                            267018.46
Losses                                     155439.00
Other uses (non-food)                       66254.41
Processing                                 287929.00
Production                                1947019.39
Protein supply quantity (g/capita/day)      11833.95
Residuals                                   30045.00
Seed                                        23976.82
Stock Variation                             34910.99
Total Population - Both sexes             1058081.00
Tourist consumption                           349.00
Name: Y2015, dtype: float64

Which year had the least correlation with ‘Element Code’?

In [43]:
# correlations = df.groupby('Element Code')['Y2017'].corr().abs()
# print(correlations)

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [12]:
selected_data = df[['Y2017', 'Area']]
grouped_data = selected_data.groupby('Area')['Y2017'].sum()
sorted_data = grouped_data.sort_values(ascending=True)

In [13]:
sorted_data

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [14]:
area_with_seventh_lowest_sum = sorted_data.iloc[6]
print(area_with_seventh_lowest_sum)

19102.77

Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

In [3]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
print(x)

8

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [17]:
# Filter the dataset for the year 2017
mean2017 = df['Y2017'].mean().round(2)
std2017 =df['Y2017'].std().round()
print(mean2017)
print(std2017)

140.92
1672.0

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [ ]:
df['Y2014'].isnull().sum()

1589

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [18]:
y_2017 = df.groupby('Area')['Y2017'].sum()
print(y_2017.idxmax())

Nigeria

Given the following numpy array 

array  = <br>
([[94, 89, 63],<br>
          [93, 92, 48],<br>
          [92, 94, 56]])<br>

How would you select  the elements in bold and italics from the array?

In [22]:
array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])
# Selecting the elements in bold (89 and 63 92 48)
print(array[ : 2, 1 : ])

[[89 63]
 [92 48]]

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [23]:
y_2017 = df.groupby('Element')['Y2017'].sum()
print(y_2017)

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

What would be the output for?

In [24]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

What is the total number of unique countries in the dataset?

In [29]:
# Extract unique countries
unique_countries = df.groupby('Area').count()

# Get the total number of unique countries
total_unique_countries = len(unique_countries)
print(unique_countries)
print("Total number of unique countries:", total_unique_countries)

                             Area Code  Item Code  Item  Element Code  \
Area
Algeria                           1313       1313  1313          1313
Angola                            1424       1424  1424          1424
Benin                             1285       1285  1285          1285
Botswana                          1378       1378  1378          1378
Burkina Faso                      1409       1409  1409          1409
Cabo Verde                        1260       1260  1260          1260
Cameroon                          1460       1460  1460          1460
Central African Republic          1344       1344  1344          1344
Chad                              1343       1343  1343          1343
Comoros                             45         45    45            45
Congo                             1413       1413  1413          1413
Côte d'Ivoire                     1467       1467  1467          1467
Djibouti                          1095       1095  1095          1095
Egypt                             1488       1488  1488          1488
Eswatini                          1284       1284  1284          1284
Ethiopia                          1447       1447  1447          1447
Ethiopia PDR                        39         39    39            39
Gabon                             1245       1245  1245          1245
Gambia                            1168       1168  1168          1168
Ghana                             1354       1354  1354          1354
Guinea                            1410       1410  1410          1410
Guinea-Bissau                     1128       1128  1128          1128
Kenya                             1560       1560  1560          1560
Lesotho                           1150       1150  1150          1150
Liberia                           1206       1206  1206          1206
Madagascar                        1439       1439  1439          1439
Malawi                            1447       1447  1447          1447
Mali                              1293       1293  1293          1293
Mauritania                        1195       1195  1195          1195
Mauritius                         1378       1378  1378          1378
Morocco                           1393       1393  1393          1393
Mozambique                        1427       1427  1427          1427
Namibia                           1283       1283  1283          1283
Niger                             1403       1403  1403          1403
Nigeria                           1474       1474  1474          1474
Rwanda                            1426       1426  1426          1426
Sao Tome and Principe             1177       1177  1177          1177
Senegal                           1462       1462  1462          1462
Seychelles                          68         68    68            68
Sierra Leone                      1242       1242  1242          1242
South Africa                      1399       1399  1399          1399
Sudan                             1316       1316  1316          1316
Sudan (former)                      53         53    53            53
Togo                              1294       1294  1294          1294
Tunisia                           1338       1338  1338          1338
Uganda                            1458       1458  1458          1458
United Republic of Tanzania       1419       1419  1419          1419
Zambia                            1451       1451  1451          1451
Zimbabwe                          1393       1393  1393          1393

                             Element  Unit  Y2014  Y2015  Y2016  Y2017  Y2018
Area
Algeria                         1313  1313   1261   1268   1274   1279   1298
Angola                          1424  1424   1378   1378   1388   1407   1396
Benin                           1285  1285   1250   1260   1257   1253   1252
Botswana                        1378  1378   1361   1369   1365   1368   1361
Burkina Faso                    1409  1409   1382   1372   1392   1383   1373
Cabo Verde                      1260  1260   1231   1229   1200   1193   1192
Cameroon                        1460  1460   1450   1443   1443   1441   1432
Central African Republic        1344  1344   1300   1296   1314   1262   1308
Chad                            1343  1343   1284   1303   1265   1281   1305
Comoros                           45    45     45     45     45     45     45
Congo                           1413  1413   1382   1377   1377   1395   1377
Côte d'Ivoire                   1467  1467   1444   1447   1455   1454   1455
Djibouti                        1095  1095   1052   1058   1054   1061   1040
Egypt                           1488  1488   1461   1473   1470   1458   1468
Eswatini                        1284  1284   1265   1240   1255   1251   1231
Ethiopia                        1447  1447   1424   1430   1410   1428   1425
Ethiopia PDR                      39    39     39     39     39     39     39
Gabon                           1245  1245   1200   1202   1198   1206   1192
Gambia                          1168  1168   1121   1115   1111   1116   1118
Ghana                           1354  1354   1337   1333   1330   1333   1337
Guinea                          1410  1410   1345   1349   1373   1383   1385
Guinea-Bissau                   1128  1128   1044   1040   1054   1076   1091
Kenya                           1560  1560   1544   1542   1540   1548   1548
Lesotho                         1150  1150   1130   1097   1116   1110   1094
Liberia                         1206  1206   1135   1134   1124   1135   1133
Madagascar                      1439  1439   1416   1429   1431   1425   1424
Malawi                          1447  1447   1416   1400   1394   1411   1410
Mali                            1293  1293   1252   1256   1250   1243   1260
Mauritania                      1195  1195   1106   1152   1119   1108   1170
Mauritius                       1378  1378   1355   1352   1344   1340   1342
Morocco                         1393  1393   1354   1381   1378   1369   1368
Mozambique                      1427  1427   1396   1394   1401   1406   1400
Namibia                         1283  1283   1274   1270   1266   1269   1256
Niger                           1403  1403   1357   1367   1355   1365   1368
Nigeria                         1474  1474   1470   1458   1460   1457   1456
Rwanda                          1426  1426   1400   1378   1400   1397   1403
Sao Tome and Principe           1177  1177   1108   1125   1140   1122   1109
Senegal                         1462  1462   1448   1449   1452   1452   1448
Seychelles                        68    68     68     68     68     68     68
Sierra Leone                    1242  1242   1177   1181   1188   1191   1197
South Africa                    1399  1399   1394   1395   1395   1395   1396
Sudan                           1316  1316   1277   1260   1271   1279   1268
Sudan (former)                    53    53     53     53     53     53     53
Togo                            1294  1294   1219   1226   1243   1234   1266
Tunisia                         1338  1338   1304   1318   1314   1314   1320
Uganda                          1458  1458   1446   1446   1446   1435   1445
United Republic of Tanzania     1419  1419   1401   1405   1403   1409   1408
Zambia                          1451  1451   1424   1420   1430   1425   1421
Zimbabwe                        1393  1393   1374   1373   1358   1365   1356
Total number of unique countries: 49

If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?

In [35]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
df2 = pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])
df2

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

What is the total Protein supply quantity in Madagascar in 2015?

In [41]:
prot = df.groupby('Area')['Y2015'].sum()
prot

Area
Algeria                         324058.40
Angola                          209565.67
Benin                           108181.13
Botswana                         23024.85
Burkina Faso                    102701.22
Cabo Verde                       14538.93
Cameroon                        225220.72
Central African Republic         28885.34
Chad                             65835.88
Comoros                             41.34
Congo                            40255.51
Côte d'Ivoire                   211591.29
Djibouti                         23690.16
Egypt                           868218.73
Eswatini                         54072.07
Ethiopia                        429139.33
Ethiopia PDR                         0.00
Gabon                            28367.30
Gambia                           19665.39
Ghana                           311092.13
Guinea                           92803.39
Guinea-Bissau                    17990.06
Kenya                           265506.19
Lesotho                          17965.84
Liberia                          28698.10
Madagascar                      126674.90
Malawi                          167989.09
Mali                            132456.58
Mauritania                       61909.99
Mauritius                        53372.42
Morocco                         412473.80
Mozambique                      158231.17
Namibia                          30687.90
Niger                           117834.65
Nigeria                        1414362.83
Rwanda                           70138.83
Sao Tome and Principe            12386.93
Senegal                          91939.14
Seychelles                         358.20
Sierra Leone                     62523.14
South Africa                    468352.18
Sudan                           230652.54
Sudan (former)                       0.00
Togo                             47834.59
Tunisia                         128211.41
Uganda                          220615.72
United Republic of Tanzania     341969.46
Zambia                           96214.00
Zimbabwe                         74041.79
Name: Y2015, dtype: float64

Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [42]:
# my_tuppy = (1,2,5,8)

# my_tuppy[2] = 6